
#main-container {
    display: grid;
    justify-content: center;
}

#nav-bar {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 2fr);
    background-color: rgba(40, 39, 48, 0.918);
    height: 60px;
}

#nav-bar>a {
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    color: white;
    font-size: large;
    background-color: transparent;
    text-decoration: none;
    
}

#nav-bar>a:hover {
    background-color: rgba(88, 86, 104, 0.918);
}